// global styling
body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	.heart {
		color: $color-primary;
		&:hover {
			color: darken($color-primary, 20%);
		}
	}
}
