// Custom Color Values
$color-primary: hotpink;
$color-secondary: aquamarine;

// Global Styling
body {
	padding-top: 50px;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	.heart {
		color: $color-primary;
		&:hover {
			color: $color-secondary;
		}
	}
}

